

.TitleViewWrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.792);
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.TitleView {
    width: 80%;
    height: 90%;
    background-color: aquamarine;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.titleTop {
    width: 100%;
    height: 50%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}

.titleCover {
    width: 30%;
    height: 100%;
    background-color: bisque;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.titleInfo {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.TitleInfoLeft {
    width: 50%;
    height: 100%;
    background-color: bisque;
    padding: 10px;
}

.TitleInfoLeft h3 {
    text-align: center;
}

.TitleInfoRight {
    width: 50%;
    height: 100%;
    background-color: rgb(171, 114, 43);
    padding: 10px;
}

.titleBottom {
    width: 100%;
    height: 50%;
    background-color: rgb(41, 138, 106);
}